<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456705677442-5tfavekfcehlnjeluk1j9sq72crankja.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456705677442-5tfavekfcehlnjeluk1j9sq72crankja</string>
	<key>API_KEY</key>
	<string>AIzaSyBL0YOFxBydgVXtSH1c-gKq3Ufyls-o88o</string>
	<key>GCM_SENDER_ID</key>
	<string>456705677442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fireapp</string>
	<key>PROJECT_ID</key>
	<string>socialsample-1ebb0</string>
	<key>STORAGE_BUCKET</key>
	<string>socialsample-1ebb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456705677442:ios:02c5ed30de776a5f653c9b</string>
</dict>
</plist>